/* Fonts */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,500,700,900&display=swap');


/* Colours */



/* Callout */

.callout-background {
    height: 85vh;
    background: url(../images/IMG_1254.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.callout-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 85vh;
    width: 100%;
    background-color: rgba(41, 44, 121, 0.5);
}

.jumbotron {
    margin-top: 120px;
}