/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,600|Raleway:200,300,400,600&display=swap');

/* Padding and margins */

body {
    overflow-x: hidden !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.jumbotronHeader-spacing {
    padding: 0px 0px 10px;
}

.btn-spacing {
    margin-top: 25px;
}

.about-paragraph {
    padding: 10px 20px;
    margin: 0;
}

.about-list {
    padding: 10px 10px 10px 20px;
    margin: 0 10px 10px 20px;
}

.sub-head-spacing {
    margin: 10px 0px 10px 0px;
}

.personalTraining-form-margin {
    margin-bottom: 30px;
}

.carousel {
    margin-bottom: 30px;
}

/* Text */

.contrast-header {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #fafaff;
    margin: 10px 0 10px 0;
}

.contrast-paragraph {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #fafaff;
}

.section-header {
    font-family: "Lato", sans-serif;
    color: #292c79;
    font-weight: 200;
    margin: 20px 0 10px 0;
}

.sub-header {
    font-family: "Lato", sans-serif;
    color: #292c79;
    font-weight: 200;
}

.section-text {
    font-family: "Raleway", sans-serif;
    color: #202020;
    font-weight: 300;
}

/* Navbar */

.navbar-brand {
    font-family: "Lato", sans-serif;
    color: #292c79 !important;
    font-weight: 200;
}

.navbar li {
    font-family: "Lato", sans-serif;
    color: #202020 !important;
    font-weight: 400;
}

.navbar-toggler {
    border: none;
}

/* Callout */

.callout-background {
    height: 80vh;
    background: url(../images/client_and_trainer.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 44, 121, 0.7);
}

.jumbotron {
    margin-top: 20vh;
    background: transparent;
}

.jumbotron-header {
    font-size: 6vw;
}

.jumbotron-paragraph {
    font-size: 3vw;
}

.modal-header {
    font-family: "Lato", sans-serif;
    font-weight: 200;
    color: #292c79;
}

.modal-body {
    font-family: "Raleway", sans-serif;
    color: #202020;
}

.modal-form {
    margin: 0px 20px 30px;
    text-align: left;
}

.form-check-label {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #292c79;
}

/* Personal Training */

.personalTraining-form {
    margin: 0px 20px 30px;
    text-align: left;
}

/* About */

.about-background {
    min-height: 50vh;
    background: url(../images/studio_image_rig.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

 .about-bg-overlay { 
    position: relative;
    top: 0;
    left: 0;
    min-height: 50vh;
    min-width: 100vw;
    background-size: cover;
    background-color: rgba(41, 44, 121, 0.8);
} 

#video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

/* Contact */

.contact-background {
    min-height: 50vh;
    background: url(../images/studio_image_front.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}    

.contact-bg-overlay { 
    position: relative;
    top: 0;
    left: 0;
    min-height: 50vh;
    min-width: 100vw;
    background-size: cover;
    background-color: rgba(41, 44, 121, 0.8);
} 

.contact-form {
    margin: 0px 20px 30px;
    text-align: left;
}

.contact-form label {
    color: #fafaff;
}

#googlemap {
    margin-top: 20px;
}


/* Footer */

footer {
    text-align: center;
    margin: 0px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.socialMedia-links i {
    padding-bottom: 15px;
}

.socialMedia-links a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 25%;
  font-size: 14px;
  line-height: 7px;
  text-align: center;
  color: #fafaff;
  background: #292c79;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.socialMedia-links i:hover {
    background: #ffb300;
}

.socialMedia-links a:hover {
    text-decoration: none;
}


/* Form fonts */

form {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #202020;
}

.form-label {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #292c79;
}

/* Buttons */

.btn-block {
    background-color: #ffb300;
    border: 4px solid #ffb300;
    font-family: "Lato", sans-serif;
    color: #292c79;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-block:hover {
    background-color: #ffd46f;
}

/* Media queries and width constraint*/

.lg-monitor {
    max-width: 1920px;
    align-items: center;
    margin: 0 auto;
}

@media only screen and (max-height: 414px) {
  
   .jumbotron p {
       display: none;
    }
    .callout-background {
    height: 100vh;
    }
}

@media only screen and (max-width: 414px) {
  
   .jumbotron-header {
    font-size: 8.5vw;
}
   .jumbotron-paragraph {
    font-size: 4.25vw;
}
  
}

@media only screen and (max-height: 900px) {
  
   .jumbotron {
       margin-top: 18vh;
    }

}

@media only screen and (max-height: 568px) {
  
   .jumbotron {
       margin-top: 14vh;
    }

}

@media only screen and (max-width: 600px) {

    #video-player {
        width: 100%    !important;
        height: auto   !important;
    }

}

@media only screen and (min-width: 1280px) {

    .jumbotron-header {
    font-size: 4vw;
}
   .jumbotron-paragraph {
    font-size: 2vw;
}

}

@media (pointer:fine) and (hover) {

.callout-background {
    height: 80vh;
    background: url(../images/client_and_trainer.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 44, 121, 0.7);
}

.about-background {
    min-height: 50vh;
    background: url(../images/studio_image_rig.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

 .about-bg-overlay { 
    position: relative;
    top: 0;
    left: 0;
    min-height: 50vh;
    min-width: 100vw;
    background-size: cover;
    background-color: rgba(41, 44, 121, 0.8);
} 

.contact-background {
    min-height: 50vh;
    background: url(../images/studio_image_front.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}    

.contact-bg-overlay { 
    position: relative;
    top: 0;
    left: 0;
    min-height: 50vh;
    min-width: 100vw;
    background-size: cover;
    background-color: rgba(41, 44, 121, 0.8);
} 

}

